@model WTAdvent.Core.Frontend.Models.FanwallContainer

@{
    ViewBag.Title = "Hashtag";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<div class="page-container">
	<h1>@Translate("hashtag-headline")</h1>
	<h2>@Translate("hashtag-subheadline1")</h2>
	<section>
		<div class="center-content" id="fanwall">
			@foreach (var item in Model.Items)
			{
				<a href="@item.Link" target="_blank"><img src="@item.ThumbnailUrl"/></a>
			}
		</div>
		<div class="center-content" id="fanwall-bottom">
			<div id="hashtags-loading" style="margin: 10px 0 0 0;display:none;">loading...</div>
			<input type="hidden" id="hashtags-nexturl" value="@Model.NextUrl"/>
			<a id="hashtags-more-btn" href="javascript:void(0);" onclick="loadMoreHashtags();" class="link-btn" style="margin: 10px 0 0 0;">@Translate("mehr-laden")</a>
		</div>
	</section>
</div>
