@{
    Layout = null;
	var cssClass = Convert.ToInt32(ViewBag.Points) > 0 ? "bonus" : string.Empty;
}

<script>
	$(document).ready(function()
	{
		initVideo();
	});

	function initVideo()
	{
		$('#video-placeholder').hide();
		var videoSize = new Object();
		videoSize.width = $('#video-placeholder').innerWidth();
		videoSize.height = Math.round(videoSize.width / video_aspect);
		init_yt_playerAutoPlay(videoSize, 'H3Tnn9VmhxY', 'day21-video');
	}

	$(window).resize(function()
	{
		resizePlayer('day21-video');
	});
</script>

<div class="modal-header">
	<span class="btn-close" onclick="jQuery('#day21-video').tubeplayer('destroy');hideModal('more-info', @ViewBag.Points)"></span>
</div>
<div class="modal-body">
	<article class="@cssClass">
		<h1>@Translate("antwort21-headline")</h1>
		<h2>@Translate("antwort21-text")</h2>
		<div class="content">
			<img src="/Images/placeholder.gif" style="width:855px;height:481px;" id="video-placeholder"/>
			<div class="video-container" id="day21-video"></div>
		</div>
		<div class="content-description">Livestreaming: 15:00 - 18:00<br />@Translate("antwort21-artikel-content-beschreibung")</div>
	</article>
	@Html.Partial("_MoreInfoFooter",null)
</div>
