<div class="modal-header">
	<span class="btn-close" onclick="hideModal('sidebar', 0)"></span>
</div>
<div class="modal-body">
	<article>
		<h1>@Translate("teilnahmebedingungen-headline")</h1>
		<div class="content teilnahmebedingungen">
			<h4>@Translate("teilnahmenbedingungen-was")</h4>
			<p>@Translate("teilnahmenbedingungen-was1")</p>
			<p>@Translate("teilnahmenbedingungen-was2")</p>
			<h4>@Translate("teilnahmenbedingungen-wie")</h4>
			<p>@Translate("teilnahmenbedingungen-wie1")</p>
			<h4>@Translate("teilnahmenbedingungen-wer")</h4>
			<p>@Translate("teilnahmenbedingungen-wer1")</p>
			<h4>@Translate("teilnahmenbedingungen-wieermittelt")</h4>
			<p>@Translate("teilnahmenbedingungen-wieermittelt1")</p>
			<h4>@Translate("teilnahmenbedingungen-wiebenachrichtigt")</h4>
			<p>@Translate("teilnahmenbedingungen-wiebenachrichtigt1")</p>
			<h4>@Translate("teilnahmenbedingungen-wasdaten")</h4>
			<p>@Translate("teilnahmenbedingungen-wasdaten1")</p>
			<h4>@Translate("teilnahmenbedingungen-sonst")</h4>
			<p>@Translate("teilnahmenbedingungen-sonst1")</p>
		</div>
	</article>
</div>