@{
    Layout = null;
	var cssClass = Convert.ToInt32(ViewBag.Points) > 0 ? "bonus" : string.Empty;
}

<script>
	var maxGItem = 1;
	var currentGItem = 1;
	var clickSem = false;
	$(document).ready(function()
	{
		maxGItem = $('.g-item').length;

		$('.gallery-container').mouseover(function ()
		{
			$('#g-prev').fadeIn();
			$('#g-next').fadeIn();
		});

		$('.gallery-container').mouseleave(function ()
		{
			$('#g-prev').fadeOut();
			$('#g-next').fadeOut();
		});

		$('.prev').click(function()
		{
			if (!clickSem)
			{
				clickSem = true;
				var prev = (currentGItem == 1) ? maxGItem : currentGItem - 1;
				$('#g-' + currentGItem).fadeOut('fast', function ()
				{
					$('#g-' + prev).fadeIn('fast').css("display", "inline-block");
					currentGItem = prev;
					clickSem = false;
				});
			}
		});

		$('.next').click(function()
		{
			if (!clickSem)
			{
				clickSem = true;
				var next = (currentGItem == maxGItem) ? 1 : currentGItem + 1;
				$('#g-' + currentGItem).fadeOut('fast', function ()
				{
					$('#g-' + next).fadeIn('fast').css("display", "inline-block");
					currentGItem = next;
					clickSem = false;
				});
			}
		});
	});
</script>

<div class="modal-header">
	<span class="btn-close" onclick="hideModal('more-info', @ViewBag.Points)"></span>
</div>
<div class="modal-body">
	<article class="@cssClass">
		<h1>@Translate("antwort23-headline")</h1>
		<h2>@Translate("antwort23-text")</h2>
		<div class="content">
			<div class="gallery-container">
				<a href="javascript:void(0);" id="g-prev" class="prev"><img src="/Images/paging-prev.png" alt=""/></a>
				<a href="javascript:void(0);" id="g-next" class="next"><img src="/Images/paging-next.png" alt=""/></a>
				<img class="g-item active" id="g-1" src="/Content/23/1.png" />
				<img class="g-item" id="g-2" src="/Content/23/2.png" />
				<img class="g-item" id="g-3" src="/Content/23/3.png" />
			</div>
		</div>
		<div class="content-description">@Translate("antwort23-artikel-content-beschreibung")</div>
	</article>
	@Html.Partial("_MoreInfoFooter",null)
</div>
