@{
	var nameId = (ViewBag.CountrySelectNameId != null && !string.IsNullOrEmpty(ViewBag.CountrySelectNameId)) ? ViewBag.CountrySelectNameId.ToString() : "CountryId";
	var nameHidden = (ViewBag.CountrySelectNameText != null && !string.IsNullOrEmpty(ViewBag.CountrySelectNameText)) ? ViewBag.CountrySelectNameText.ToString() : "Country";
}
<input type="hidden" name="@nameHidden" id="@nameHidden" />
<select name="@nameId" id="@nameId" class="mandatory">
<option value="">@Translate("person-land")</option>
<option value="10">Österreich</option>
<option value="65">Deutschland</option>
<option value="168">Schweiz</option>
<option value="100">Liechtenstein</option>
<option value="1">Afghanistan</option>
<option value="2">Albanien</option>
<option value="3">Algerien</option>
<option value="4">Andorra</option>
<option value="5">Angola</option>
<option value="6">Antigua und Barbuda</option>
<option value="7">Argentinien</option>
<option value="8">Armenien</option>
<option value="11">Aserbaidschan</option>
<option value="9">Australien</option>
<option value="53">Ägypten</option>
<option value="55">Äquatorial Guinea</option>
<option value="58">Äthiopien</option>
<option value="12">Bahamas</option>
<option value="13">Bahrain</option>
<option value="14">Bangladesch</option>
<option value="15">Barbados</option>
<option value="17">Belgien</option>
<option value="18">Belize</option>
<option value="19">Benin</option>
<option value="20">Bhutan</option>
<option value="21">Bolivien</option>
<option value="22">Bosnien-Herzegovina</option>
<option value="23">Botswana</option>
<option value="24">Brasilien</option>
<option value="25">Brunei Darussalam</option>
<option value="26">Bulgarien</option>
<option value="27">Burkina Faso</option>
<option value="28">Burma</option>
<option value="29">Burundi</option>
<option value="36">Chile</option>
<option value="37">China</option>
<option value="42">Costa Rica</option>
<option value="48">Dänemark</option>
<option value="50">Dominika</option>
<option value="51">Dominikanische Republik</option>
<option value="52">Ecuador</option>
<option value="54">El Salvador</option>
<option value="43">Elfenbeinküste</option>
<option value="56">Eritrea</option>
<option value="57">Estland</option>
<option value="59">Fidschi</option>
<option value="60">Finnland</option>
<option value="61">Frankreich</option>
<option value="62">Gabon</option>
<option value="63">Gambia</option>
<option value="64">Georgien</option>
<option value="66">Ghana</option>
<option value="68">Grenada</option>
<option value="67">Griechenland</option>
<option value="184">Großbritannien</option>
<option value="198">Grönland</option>
<option value="69">Guatemala</option>
<option value="70">Guinea</option>
<option value="71">Guinea-Bissau</option>
<option value="72">Guyana</option>
<option value="73">Haiti</option>
<option value="74">Honduras</option>
<option value="77">Indien</option>
<option value="78">Indonesien</option>
<option value="80">Irak</option>
<option value="79">Iran</option>
<option value="81">Irland</option>
<option value="76">Island</option>
<option value="82">Israel</option>
<option value="83">Italien</option>
<option value="84">Jamaika</option>
<option value="85">Japan</option>
<option value="193">Jemen</option>
<option value="86">Jordanien</option>
<option value="194">Jugoslawien</option>
<option value="199">Jungfern Inseln</option>
<option value="30">Kambodscha</option>
<option value="31">Kamerun</option>
<option value="32">Kanada</option>
<option value="201">Kanarische Inseln</option>
<option value="33">Kapverden</option>
<option value="87">Kasachstan</option>
<option value="88">Kenia</option>
<option value="93">Kirgisistan</option>
<option value="89">Kiribati</option>
<option value="38">Kolumbien</option>
<option value="39">Komoren</option>
<option value="40">Kongo</option>
<option value="41">Kongo, Demokratische Republik</option>
<option value="90">Korea, Nord</option>
<option value="91">Korea, Süd</option>
<option value="44">Kroatien</option>
<option value="45">Kuba</option>
<option value="92">Kuwait</option>
<option value="94">Laos</option>
<option value="97">Lesotho</option>
<option value="95">Lettland</option>
<option value="96">Libanon</option>
<option value="98">Liberia</option>
<option value="99">Libyen</option>
<option value="101">Litauen</option>
<option value="102">Luxemburg</option>
<option value="104">Madagaskar</option>
<option value="105">Malawi</option>
<option value="106">Malaysia</option>
<option value="107">Malediven</option>
<option value="108">Mali</option>
<option value="109">Malta</option>
<option value="118">Marokko</option>
<option value="110">Marshall Inseln</option>
<option value="111">Mauretanien</option>
<option value="112">Mauritius</option>
<option value="103">Mazedonien</option>
<option value="113">Mexiko</option>
<option value="114">Mikronesien</option>
<option value="115">Moldawien</option>
<option value="116">Monaco</option>
<option value="117">Mongolei</option>
<option value="119">Mosambik</option>
<option value="120">Myanmar</option>
<option value="121">Namibia</option>
<option value="122">Nauru</option>
<option value="123">Nepal</option>
<option value="125">Neuseeland</option>
<option value="126">Nicaragua</option>
<option value="124">Niederlande</option>
<option value="127">Niger</option>
<option value="128">Nigeria</option>
<option value="129">Norwegen</option>
<option value="130">Oman</option>
<option value="131">Pakistan</option>
<option value="132">Palau</option>
<option value="134">Panama</option>
<option value="135">Papua Neu Guinea</option>
<option value="136">Paraguay</option>
<option value="137">Peru</option>
<option value="138">Philippinen</option>
<option value="139">Polen</option>
<option value="140">Portugal</option>
<option value="141">Qatar</option>
<option value="144">Ruanda</option>
<option value="142">Rumänien</option>
<option value="143">Russland</option>
<option value="196">Sambia</option>
<option value="148">Samoa</option>
<option value="149">San Marino</option>
<option value="151">Saudi Arabien</option>
<option value="150">São Tomé und Príncipe</option>
<option value="167">Schweden</option>
<option value="152">Senegal</option>
<option value="153">Serbien</option>
<option value="154">Seychellen</option>
<option value="155">Sierra Leone</option>
<option value="156">Singapur</option>
<option value="157">Slowakei</option>
<option value="158">Slowenien</option>
<option value="159">Solomon Inseln</option>
<option value="160">Somalia</option>
<option value="162">Spanien</option>
<option value="163">Sri Lanka</option>
<option value="145">St. Kitts und Nevis</option>
<option value="146">St. Lucia</option>
<option value="147">St. Vincent und Grenadinen</option>
<option value="164">Sudan</option>
<option value="165">Suriname</option>
<option value="161">Südafrika</option>
<option value="166">Swaziland</option>
<option value="169">Syrien</option>
<option value="171">Tadschikistan</option>
<option value="170">Taiwan</option>
<option value="172">Tansania</option>
<option value="173">Thailand</option>
<option value="174">Togo</option>
<option value="175">Tonga</option>
<option value="176">Trinidad und Tobago</option>
<option value="35">Tschad</option>
<option value="47">Tschechien</option>
<option value="49">Tschibuti</option>
<option value="177">Tunesien</option>
<option value="179">Turkmenistan</option>
<option value="180">Tuvalu</option>
<option value="178">Türkei</option>
<option value="181">Uganda</option>
<option value="182">Ukraine</option>
<option value="75">Ungarn</option>
<option value="186">Uruguay</option>
<option value="187">Usbekistan</option>
<option value="188">Vanuatu</option>
<option value="189">Vatikan</option>
<option value="190">Venezuela</option>
<option value="183">Vereinigte Arabische Emirate</option>
<option value="185">Vereinigte Staaten von Amerika</option>
<option value="191">Vietnam</option>
<option value="16">Weißrussland</option>
<option value="192">West Sahara</option>
<option value="195">Zaire</option>
<option value="202">Montenegro</option>
<option value="34">Zentralafrikanische Republik</option>
<option value="197">Zimbabwe</option>
<option value="46">Zypern</option>
</select>